﻿
@{
    ViewBag.Title = "Dashboard";
}

<div class="wrapper wrapper-content animated fadeIn">

    <div class="p-w-md m-t-sm">
        <div class="row">


        </div>

        


        <div class="row">
            <div class="col-lg-12">
                <div class="ibox">



                    
                </div>
            </div>
        </div>

    </div>


</div>

@section Scripts {
    @Scripts.Render("~/plugins/sparkLine")
    @Scripts.Render("~/plugins/flot")

    <script type="text/javascript">
    </script>
}

