﻿@using Escrow.Extensions
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li class="text-color">
                @Html.ActionLink("Hello " + (!string.IsNullOrWhiteSpace(User.Identity.GetUserFullName()) == true ? User.Identity.GetUserFullName() : User.Identity.Name + "!"), "userprofile", "account", routeValues: null, htmlAttributes: new { title = "User Profile" })
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Logout</a></li>
        </ul>
    }


}

