﻿<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <span>
                        <img alt="image" width="100" height="80" class="img-circle" src="~/Images/Vlogo.jpg" />
                    </span>
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="clear">
                            <span class="block m-t-xs">
                                <strong class="font-bold">@User.Identity.Name</strong>
                            </span> <span class="text-muted text-xs block"><b class="caret"></b></span>
                        </span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        @*<li><a href="@Url.Action("Profile", "AppViews")">Profile</a></li>
                            <li><a href="@Url.Action("Contacts", "AppViews")">Contacts</a></li>
                            <li><a href="@Url.Action("Inbox", "Mailbox")">Mailbox</a></li>
                            <li class="divider"></li>
                            <li><a href="@Url.Action("Login", "Pages")">Logout</a></li>*@
                    </ul>
                </div>
                <div class="logo-element">
                    IN+
                </div>
            </li>
            <li class="@Html.IsSelected(controller: "Dashboards")">
                <a href="@Url.Action("Dashboard", "Dashboards")"><i class="fa fa-th-large"></i> <span class="nav-label" data-i18n="nav.dashboard">Dashboards</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse @Html.IsSelected(controller: "Dashboards", cssClass: "in")">
                    <li class="@Html.IsSelected(action: "Dashboard")"><a href="@Url.Action("Dashboard", "Dashboards")">Dashboard</a></li>
                </ul>
            </li>
            <li class="@Html.IsSelected(controller: "B2CRequests")">
                <a href="@Url.Action("Index", "B2CRequests")"><i class="fa fa-diamond"></i> <span class="nav-label" data-i18n="nav.layouts">B2CRequests</span> </a>
            </li>
            <li class="@Html.IsSelected(controller: "TransactionRequests")">
                <a href="@Url.Action("Index", "TransactionRequests")"><i class="fa fa-diamond"></i> <span class="nav-label" data-i18n="nav.layouts">TransactionRequests</span></a>
            </li>
            <li class="@Html.IsSelected(controller: "B2CRequests")">
                <a href="@Url.Action("Index", "C2BRequests")"><i class="fa fa-diamond"></i> <span class="nav-label" data-i18n="nav.layouts">C2BRequests</span></a>
            </li>

            <li class="@Html.IsSelected(controller: "Customers")">
                <a href="@Url.Action("Index", "Customers")"><i class="fa fa-th-large"></i> <span class="nav-label" data-i18n="nav.dashboard">Customers</span> <span class="fa arrow"></span></a>

                <ul class="nav nav-second-level collapse @Html.IsSelected(controller: "Customers", cssClass: "in")">
                    <li class="@Html.IsSelected(action: "Index")"><a href="@Url.Action("Index", "Customers")">View</a></li>
                </ul>
            </li>
            <li class="@Html.IsSelected(controller: "Security")">
                <a href="#"><i class="fa fa-bar-chart-o"></i> <span class="nav-label" data-i18n="nav.graphs">Roles&Users</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse @Html.IsSelected(controller: "Graphs", cssClass: "in")">
                    <li class="@Html.IsSelected(action: "Index")"><a href="@Url.Action("Index", "Security")">Roles</a></li>
                    <li class="@Html.IsSelected(action: "Index")"><a href="@Url.Action("Users", "Security")">Users</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>