﻿
@{
    ViewBag.Title = "C2BRequests";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>C2BRequests</h2>
        <ol class="breadcrumb">
            <li>
                <a href="c">C2BRequests</a>
            </li>
            <li>
                <a>C2BRequests</a>
            </li>
            <li class="active">
                <strong>Index</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">

                </div>
                <div class="ibox-content">

                    <table id="Grid" class="table table-striped table-bordered table-hover" style="width:100%;">

                        <tbody>
                            <tr>
                                <td colspan="7" class="dataTables_empty">
                                    Loading data from server
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>

</div>

@section Styles {
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
}

@section Scripts {
    @Scripts.Render("~/plugins/dataTables")




    <script type="text/javascript">
        $(document).ready(function () {

            $('#Grid').dataTable({
                // Ajax settings
                "sPaginationType": "full_numbers",
                "bProcessing": true,
                "bServerSide": true,
                "sAjaxSource": "@(Url.Action("TransactionRequestsList", "C2BRequests"))",
                 "sServerMethod": "POST",
            // Callback settings
           "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
               /* row manipulation */

               //var createdDate = new Date(parseInt(aData.TransactionDate.replace("/Date(", "").replace(")/", ""), 10));

               // var h = ("0" + createdDate.getHours()).slice(-2);
               // var m = ("0" + createdDate.getMinutes()).slice(-2);
               // var s = ("0" + createdDate.getSeconds()).slice(-2);

               // var dt_Created = $.datepicker.formatDate('dd/mm/yy', createdDate) + " " + h + ":" + m + ":" + s;

               // $('td:eq(0)', nRow).html(dt_Created);

                //var viewUrl = '<a onclick="LoadBranchDetailsById(\'' + aData.Id + '\')" href="#">' + 'View</a>';

                //var editUrl = '<a href="/admin/editbranch/' + aData.Id + '">' + 'Edit</a>';

               // var deleteUrl = '<a href="/admin/deletebranch/' + aData.Id + '">' + 'Delete</a>';
                //$('td:eq(6)', nRow).html(viewUrl + '&nbsp;|&nbsp;' + editUrl);
               //$('td:eq(9)', nRow).html(viewUrl + '&nbsp;|&nbsp;' + editUrl + '&nbsp;|&nbsp;' + deleteUrl);

               /* return*/
                return nRow;
            },
            // Display settings
            "iDisplayLength": 10,
            "bJQueryUI": true,
            "aoColumns": [

                { "mDataProp": "FirstName", "sTitle": "FirstName" },
                { "mDataProp": "LastName", "sTitle": "LastName" },
                { "mDataProp": "Msisdn", "sTitle": "Msisdn" },
                { "mDataProp": "Amount", "sTitle": "Amount" },
                 { "mDataProp": "MpesaCode", "sTitle": "MpesaCode" },
                { "mDataProp": "BusinessShortCode", "sTitle": "BusinessShortCode" },
                 { "mDataProp": "InvoiceNumber", "sTitle": "InvoiceNumber" }],
            "aaSorting": [[0, 'desc']]
        });

        });

    </script>
}