﻿@model Escrow.Models.EscrowModel
@{
    ViewBag.Title = "DisputedTransaction";
}

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script>
    $(document).ready(function () {



        $("#resolutionMethod").change(function () {

            var selectedValue = $(this).val();

            if (selectedValue == "3") {
                $(".divHide").show();
            }
            else {
                $(".divHide").hide();
            }
        });


    });
</script>
<style>
    .divHide {
        display: none
    }
</style>
<div class="ibox-content m-b-sm border-bottom">

    @if (TempData["Error"] != null)
    {
        <div class="alert alert-danger fade in">
            <button class="close" data-dismiss="alert">
                ×
            </button>
            <i class="fa-fw fa fa-times"></i>
            <strong>Error!</strong> @TempData["Error"]
        </div>
    }
    @if (TempData["Success"] != null)
    {
        <div class="alert alert-success fade in">
            <button class="close" data-dismiss="alert">
                ×
            </button>
            <i class="fa-fw fa fa-check"></i>
            <strong>Success</strong> @TempData["Success"]
        </div>
    }

    @using (Html.BeginForm("ResolveTransaction", "TransactionRequests"))
    {
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group" id="data_1">
                    <label class="font-normal">Sender</label>
                    <div class="input-group date">
                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                        @Html.LabelFor(a => a.TransactionRequest.PayerToken, Model.TransactionRequest.PayerToken, new { @class = "form-control", disabled = "disabled" })
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group" id="data_1">
                    <label class="font-normal">Recepient</label>
                    <div class="input-group date">
                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                        @Html.LabelFor(a => a.TransactionRequest.PayeeToken, Model.TransactionRequest.PayeeToken, new { @class = "form-control", disabled = "disabled" })
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="form-group" id="data_1">
                    <label class="font-normal">Transaction Reference</label>
                    <div class="input-group text">
                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                        @Html.LabelFor(a => a.TransactionRequest.TransactionReference, Model.TransactionRequest.TransactionReference, new { @class = "form-control", disabled = "disabled" })
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="form-group" id="data_1">
                    <label class="font-normal">Net Amount</label>
                    <div class="input-group text">
                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                        @Html.LabelFor(a => a.TransactionRequest.NetAmount, Model.TransactionRequest.NetAmount.ToString(), new { @class = "form-control", disabled = "disabled", autocomplete = "sdderre", id = "" })
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group" id="data_1">
                    <label class="font-normal">Transaction Date</label>
                    <div class="input-group text">
                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                        @Html.LabelFor(a => a.TransactionRequest.TransactionDate, $"{Model.TransactionRequest.TransactionDate} {Model.TransactionRequest.TransactionTime}", new { @class = "form-control", disabled = "disabled", autocomplete = "sdderre", id = "" })
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group" id="data_1">
                    <label class="font-normal">Transaction Status</label>
                    <div class="input-group text">
                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                        @Html.LabelFor(a => a.TransactionRequest.StatusDescription, Model.TransactionRequest.StatusDescription, new { @class = "form-control", disabled = "disabled", autocomplete = "sdderre", id = "" })
                    </div>
                </div>
            </div>

            @Html.HiddenFor(a => a.DisputeResolutionMethod.TransactionReference, Model.TransactionRequest.TransactionReference)




        </div>

        <div class="row">
            <div class="col-sm-4">
                <div class="form-group" id="data_1">
                    <label class="font-normal">Resolution Method</label>
                    <div class="input-group text">
                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                        @Html.DropDownListFor(a => a.DisputeResolutionMethod.ResolutionMethod, Model.DisputeResolutionMethods, new { @class = "form-control", autocomplete = "sdderre", id = "resolutionMethod" })
                    </div>
                </div>
            </div>
            <div class="col-sm-4 divHide">
                <div class="form-group" id="data_1">
                    <label class="font-normal">Recepient Amount</label>
                    <div class="input-group text">
                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                        @Html.TextBoxFor(a => a.DisputeResolutionMethod.PayeeAmount, new { @class = "form-control", autocomplete = "sdderre" })
                    </div>
                </div>
            </div>
            <div class="col-sm-4 divHide">
                <div class="form-group" id="data_1">
                    <label class="font-normal">Sender Amount</label>
                    <div class="input-group text">
                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                        @Html.TextBoxFor(a => a.DisputeResolutionMethod.PayerAmount, new { @class = "form-control", autocomplete = "sdderre" })
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group" id="data_1">
                    <label class="font-normal">Comments</label>
                    <div class="input-group text">
                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                        @Html.TextBoxFor(a => a.DisputeResolutionMethod.SettlementNotes, new { @class = "form-control", autocomplete = "sdderre" })
                    </div>
                </div>
            </div>
        </div>

        @Html.Hidden("reference", Model.TransactionRequest.TransactionReference)

        @Html.Hidden("transactionId", Model.TransactionRequest.MasterTransactionId)
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <label class="control-label" for="date_added"></label>
                    <div class="input-group">

                        <input type="submit" value="Submit" class="btn btn-primary" />
                    </div>
                </div>


            </div>
        </div>
    }


</div>