﻿@model Escrow.Models.EscrowModel
@{
    ViewBag.Title = "Edit";
}

<div class="ibox-content m-b-sm border-bottom">

    @using (Html.BeginForm("BlackListUser", "Customers"))
    {
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group" id="data_1">
                    <label class="font-normal">From</label>
                    <div class="input-group date">
                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                        @Html.TextBoxFor(a => a.UpdateModel.FirstName, new { @class = "form-control", autocomplete = "232322dwdw", id = "WebFilter_From" })
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group" id="data_1">
                    <label class="font-normal">To</label>
                    <div class="input-group date">
                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                        @Html.TextBoxFor(a => a.UpdateModel.LastName, new { @class = "form-control", autocomplete = "sdderre", id = "WebFilter_To" })
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="form-group" id="data_1">
                    <label class="font-normal">Blacklist Reason</label>
                    <div class="input-group text">
                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                        @Html.TextAreaFor(a => a.UpdateModel.BlackListReason, new { @class = "form-control", autocomplete = "sdderre", id = "" })
                    </div>
                </div>
            </div>

            @Html.HiddenFor(a => a.UpdateModel.UserId)



        </div>

        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <label class="control-label" for="date_added"></label>
                    <div class="input-group">

                        <input type="submit" value="Submit" class="btn btn-primary" />
                    </div>
                </div>


            </div>
        </div>
    }

</div>
