﻿@using Escrow.Models
@model LoginViewModel
@{
    ViewBag.Title = "Login";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verinet| Login</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link href="~/Fonts/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="~/Content/animate.css" rel="stylesheet">
    <link href="~/Content/style.css" rel="stylesheet">
    <script src="https://www.google.com/recaptcha/api.js" type="text/javascript"></script>
</head>
<body class="gray-bg">
    <div class="aligncenter">
        <div class="loginColumns login-panel animated fadeInDown loginscreen" style="background-color: white;">

            <div class="row">
                <div class="col-md-6">
                    <h3 class="font-bold">Welcome to Verinet</h3>
                    <img src="~/Images/Vlogo.jpg" class="img-fluid" alt="Responsive image" />
                   
                </div>

                <div class="col-md-6">
                    <div class="ibox-content">

                        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                          
                            @Html.AntiForgeryToken()
                            <div>
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.EditorFor(m => m.Email, new { htmlAttributes = new { @class = "form-group", placeholder = "Username" } })
                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.EditorFor(m => m.Password, new { htmlAttributes = new { @class = "form-group", placeholder = "Password" } })
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                            </div>
                            
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary block full-width m-b form-group" style="background-color: #ba1871;">Login</button>
                            </div>
                            <a href="@Url.Action("forgotpassword", "account")">
                                <small>Forgot password?</small>
                            </a>

                        }
                    </div>
                </div>
            </div>
            <hr />

            @Html.Partial("_Footer")

        </div>
    </div>
</body>
</html>

