﻿
@model Escrow.Models.Roles
@{
    ViewBag.Title = "Create";
}

<div class="row wrapper border-bottom white-bg page-heading">
    @if (TempData["ModelError"] != null)
    {
        <div class="alert alert-danger fade in">
            <button class="close" data-dismiss="alert">
                ×
            </button>
            <i class="fa-fw fa fa-times"></i>
            <strong>Error!</strong> @TempData["ModelError"]
        </div>
    }
    <div class="col-lg-10">
        <h2></h2>
        <ol class="breadcrumb">
            <li>
                <a>Home</a>
            </li>
            <li>
                <a>Role </a>
            </li>
            <li class="active">
                <strong>Create</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>Create Role</h5>
                </div>
                <div class="ibox-content">
                    @using (Html.BeginForm("CreateRole", "Security", FormMethod.Post, new { id = "form", @class = "wizard-big" }))
                    {
                        @*<form id="form" action="#" class="wizard-big">*@
                        <h1>Setting Details</h1>
                        <fieldset>
                            <h2>Setting Information</h2>
                            <div id="StaticSettingsOriginal" class="row">
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Name, new { @class = "control-label" })
                                        @Html.TextBoxFor(model => model.Name, new { @class = "form-control required" })

                                    </div>
                                </div>
                            </div>

                        </fieldset>

                        <h1>Confirm Details</h1>
                        <fieldset>
                            <div id="StaticSettingsConfirm">
                            </div>
                        </fieldset>

                        @*</form>*@
                    }
                </div>
            </div>
        </div>

    </div>
</div>

@section Styles {
    @Styles.Render("~/Content/plugins/iCheck/iCheckStyles")
    @Styles.Render("~/plugins/wizardStepsStyles")
}

@section Scripts {
    @Scripts.Render("~/plugins/wizardSteps")
    @Scripts.Render("~/plugins/iCheck")
    @Scripts.Render("~/plugins/validate")

    <script type="text/javascript">
            $(document).ready(function () {

                $("#wizard").steps();
                $("#form").steps({
                    bodyTag: "fieldset",
                    onStepChanging: function (event, currentIndex, newIndex) {
                        // Always allow going backward even if the current step contains invalid fields!
                        if (currentIndex > newIndex) {
                            return true;
                        }

                        // If the current step is the confirmation page run the confirm method
                        if (newIndex === 1) {
                            confirm();
                        }

                        var form = $(this);

                        // Clean up if user went backward before
                        if (currentIndex < newIndex) {
                            // To remove error styles
                            $(".body:eq(" + newIndex + ") label.error", form).remove();
                            $(".body:eq(" + newIndex + ") .error", form).removeClass("error");
                        }

                        // Disable validation on fields that are disabled or hidden.
                        form.validate().settings.ignore = ":disabled,:hidden";

                        // Start validation; Prevent going forward if false
                        return form.valid();
                    },
                    onStepChanged: function (event, currentIndex, priorIndex) {
                        // Suppress (skip) "Warning" step if the user is old enough.
                        if (currentIndex === 2 && Number($("#age").val()) >= 18) {
                            $(this).steps("next");
                        }

                        // Suppress (skip) "Warning" step if the user is old enough and wants to the previous step.
                        if (currentIndex === 2 && priorIndex === 3) {
                            $(this).steps("previous");
                        }
                    },
                    onFinishing: function (event, currentIndex) {
                        var form = $(this);

                        // Disable validation on fields that are disabled.
                        // At this point it's recommended to do an overall check (mean ignoring only disabled fields)
                        form.validate().settings.ignore = ":disabled";

                        // Start validation; Prevent form submission if false
                        return form.valid();
                    },
                    onFinished: function (event, currentIndex) {
                        var form = $(this);

                        // Submit form input
                        form.submit();
                    }
                }).validate({
                    errorPlacement: function (error, element) {
                        element.before(error);
                    },
                    rules: {
                        Key: {
                            required: true,
                            maxlength: 10,
                            minlength: 2
                        }
                    }
                    //messages: {
                    //    Key: {
                    //        required: "This field is required",
                    //        maxlength: "This field only allows 10 characters",
                    //        minlength: "This field require minimumum"
                    //    }
                    //}
                });

                function confirm() {
                    $("#StaticSettingsConfirm").empty();
                    $("#StaticSettingsOriginal").clone().appendTo("#StaticSettingsConfirm");

                    //get original selects into a jq object
                    var $originalSelects = $("#StaticSettingsOriginal").find('select');

                    $("#StaticSettingsConfirm").find('select').each(function (index, item) {

                        //set new select to value of old select
                        $(item).val($originalSelects.eq(index).val());

                    });
                    $("#StaticSettingsConfirm :input").attr("disabled", true);
                }

            });
    </script>
}