﻿@model Escrow.Models.UserDetails
@{
    ViewBag.Title = "Edit";

    var rolesList = ViewBag.RolesList as List<SelectListItem>;

    var partnerList = ViewBag.PartnerList as List<SelectListItem>;

}

<h2></h2>

<div class="row wrapper border-bottom white-bg page-heading">
    @if (TempData["Error"] != null)
    {
        <div class="alert alert-danger fade in">
            <button class="close" data-dismiss="alert">
                ×
            </button>
            <i class="fa-fw fa fa-times"></i>
            <strong>Error!</strong> @TempData["Error"]
        </div>
    }
    @if (TempData["Success"] != null)
    {
        <div class="alert alert-success fade in">
            <button class="close" data-dismiss="alert">
                ×
            </button>
            <i class="fa-fw fa fa-check"></i>
            <strong>Success</strong> @TempData["Success"]
        </div>
    }
    <div class="col-lg-10">
        <h2></h2>
        <ol class="breadcrumb">
            <li>
                <a>Home</a>
            </li>
            <li>
                <a>Edit User  </a>
            </li>
            <li class="active">
                <strong>Edit</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>Create User</h5>

                </div>
                <div class="ibox-content">
                    @using (Html.BeginForm("CreateUser", "Security", FormMethod.Post, new { id = "form", @class = "wizard-big" }))
                    {
                        @*<form id="form" action="#" class="wizard-big">*@
                        <h1>Create User</h1>
                        <fieldset>
                            @*<h2>Setting Information</h2>*@
                            <div id="userOriginal">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.FirstName, new { @class = "control-label" })
                                            @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control required" })
                                            @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })

                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.LastName, new { @class = "control-label" })
                                            @Html.TextBoxFor(model => model.LastName, new { @class = "form-control required" })
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.UserName, new { @class = "control-label" })
                                            @Html.TextBoxFor(model => model.UserName, new { @class = "form-control required" })
                                            @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Email, new { @class = "control-label" })
                                            @Html.TextBoxFor(model => model.Email, new { @class = "form-control required" })
                                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.PhoneNumber, new { @class = "control-label" })
                                            @Html.TextBoxFor(model => model.PhoneNumber, new { @class = "form-control required" })
                                            @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.AssignedRole, new { @class = "control-label" })
                                            @Html.ListBoxFor(model => model.AssignedRole, rolesList, new { @class = "form-control ", required = "required" })
                                            @Html.ValidationMessageFor(model => model.AssignedRole, "", new { @class = "text-danger" })
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </fieldset>
                        <h1>Confirm Your Details</h1>
                        <fieldset>
                            <div id="userConfirm">

                            </div>
                        </fieldset>
                        @*</form>*@
                    }
                </div>
            </div>
        </div>

    </div>
</div>

@section Styles {
    @Styles.Render("~/Content/plugins/iCheck/iCheckStyles")
    @Styles.Render("~/plugins/wizardStepsStyles")
}

@section Scripts {
    @Scripts.Render("~/plugins/wizardSteps")
    @Scripts.Render("~/plugins/iCheck")
    @Scripts.Render("~/plugins/validate")
    <script src="~/Scripts/jquery.mask.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {

            $("#PhoneNumber").mask("254Z99999999", {
                translation: {
                    'Z': {
                        pattern: /[1-9]/, optional: false
                    }
                }
            });

            $("#wizard").steps();
            $("#form").steps({
                bodyTag: "fieldset",
                onStepChanging: function (event, currentIndex, newIndex) {
                    // Always allow going backward even if the current step contains invalid fields!
                    if (currentIndex > newIndex) {
                        return true;
                    }

                    // Forbid suppressing "Warning" step if the user is to young
                    if (newIndex === 3 && Number($("#age").val()) < 18) {
                        return false;
                    }

                    var form = $(this);

                    // Clean up if user went backward before
                    if (currentIndex < newIndex) {
                        // To remove error styles
                        $(".body:eq(" + newIndex + ") label.error", form).remove();
                        $(".body:eq(" + newIndex + ") .error", form).removeClass("error");
                    }

                    // If the current step is the confirmation page run the confirm method
                    if (newIndex === 1) {
                        confirm();
                    }

                    // Disable validation on fields that are disabled or hidden.
                    form.validate().settings.ignore = ":disabled,:hidden";

                    // Start validation; Prevent going forward if false
                    return form.valid();
                },
                onStepChanged: function (event, currentIndex, priorIndex) {
                    // Suppress (skip) "Warning" step if the user is old enough.
                    if (currentIndex === 2 && Number($("#age").val()) >= 18) {
                        $(this).steps("next");
                    }

                    // Suppress (skip) "Warning" step if the user is old enough and wants to the previous step.
                    if (currentIndex === 2 && priorIndex === 3) {
                        $(this).steps("previous");
                    }
                },
                onFinishing: function (event, currentIndex) {
                    var form = $(this);

                    // Disable validation on fields that are disabled.
                    // At this point it's recommended to do an overall check (mean ignoring only disabled fields)
                    form.validate().settings.ignore = ":disabled";

                    // Start validation; Prevent form submission if false
                    return form.valid();
                },
                onFinished: function (event, currentIndex) {
                    var form = $(this);

                    // Submit form input
                    form.submit();
                }
            }).validate({
                errorPlacement: function (error, element) {
                    element.before(error);
                },
                rules: {
                    Name: {
                        required: true,
                        maxlength: 10,
                        minlength: 2
                    },
                    IsEnabled: {
                        required: true
                    },
                    Email: {
                        email: true
                    },
                    AssignedRole: {
                        required: true
                    },
                    PhoneNumber: {
                        required: true
                    }

                },
                messages: {
                    Name: {
                        required: "This field is required",
                        maxlength: "This field only allows 10 characters",
                        minlength: "This field require minimumum"
                    },
                    IsEnabled: {
                        required: "This field is required",
                    }
                    ,
                    Email: {
                        email: "This field require a valid email"

                    },
                    AssignedRole: {
                        required: "This Role is required"
                    },
                    PhoneNumber: {
                        required: "This Phone Number is required"
                    }
                }
                });

            function confirm() {
                //user Information Section
                $("#userConfirm").empty();
                $("#userOriginal").clone().appendTo("#userConfirm");

                //get original selects into a jq object
                var $originalSelects = $("#userOriginal").find('select');

                $("#userConfirm").find('select').each(function (index, item) {

                    //set new select to value of old select
                    $(item).val($originalSelects.eq(index).val());

                });
                $("#userConfirm :input").attr("disabled", true);

            }

        });
    </script>
}