﻿
@{
    ViewBag.Title = "C2BRequests";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Roles</h2>
        <ol class="breadcrumb">
            <li>
                <a href="c">Roles</a>
            </li>
            <li>
                <a>Roles</a>
            </li>
            <li class="active">
                <strong>Index</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">

                </div>
                <div class="ibox-content">

                    <table id="Grid" class="table table-striped table-bordered table-hover" style="width:100%;">

                        <tbody>
                            <tr>
                                <td colspan="7" class="dataTables_empty">
                                    Loading data from server
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <a class="btn btn-primary btn-default" href="/security/createrole">Create Role</a>
                </div>
            </div>
        </div>
    </div>

</div>

@section Styles {
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
}

@section Scripts {
    @Scripts.Render("~/plugins/dataTables")




    <script type="text/javascript">
        $(document).ready(function () {

            $('#Grid').dataTable({
                // Ajax settings
                "sPaginationType": "full_numbers",
                "bProcessing": true,
                "bServerSide": true,
                "sAjaxSource": "@(Url.Action("Roles", "Security"))",
                 "sServerMethod": "POST",
            // Callback settings
           "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
               var EditUrl = '<a href="/security/editrole/' + aData.Id + '">' + 'Edit</a>';
               
               //$('td:eq(1)', nRow).html(EditUrl + '&nbsp;');
                return nRow;
            },
            // Display settings
                "iDisplayLength": 10,
                "aaSorting": [[0, 'desc']],
                "bJQueryUI": true,
                "aoColumns": [

                    { "mDataProp": "Name", "sTitle": "Name" },
                    //{ "mDataProp": "Commands", "sTitle": "", "bSortable": false }
                ],
                "aaSorting": [[0, 'desc']]
        });

        });

    </script>
}