﻿

@{
    ViewBag.Title = "Users";
}

<div class="row wrapper border-bottom white-bg page-heading">
    @if (TempData["Success"] != null)
    {
        <div class="alert alert-success fade in">
            <button class="close" data-dismiss="alert"></button>
            <i class="fa-fw fa fa-times"></i>
            <strong>Success!</strong> @TempData["Success"]
        </div>
    }
    <div class="col-lg-10">
        <h2>Users</h2>
        <ol class="breadcrumb">
            <li>
                <a>Home</a>
            </li>
            <li>
                <a>Users</a>
            </li>
            <li class="active">
                <strong>Index</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">

                </div>
                <div class="ibox-content">

                    <table id="Grid" class="table table-striped table-bordered table-hover" style="width:100%;">

                        <tbody>
                            <tr>
                                <td colspan="7" class="dataTables_empty">
                                    Loading data from server
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <a class="btn btn-primary btn-default" href="/security/createuser">Create User</a>
                </div>
            </div>
        </div>
    </div>

</div>

@section Styles {
    @Styles.Render("~/Content/plugins/dataTables/dataTablesStyles")
}

@section Scripts {
    @Scripts.Render("~/plugins/dataTables")




    <script type="text/javascript">
        $(document).ready(function () {

            $('#Grid').dataTable({
                // Ajax settings
                "sPaginationType": "full_numbers",
                "bProcessing": true,
                "bServerSide": true,
                "sAjaxSource": "@(Url.Action("Users", "Security"))",
                 "sServerMethod": "POST",
            // Callback settings
           "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
               /* row manipulation */

               // var createdDate = new Date(parseInt(aData.CreatedDate.replace("/Date(", "").replace(")/", ""), 10));

               // var h = ("0" + createdDate.getHours()).slice(-2);
               // var m = ("0" + createdDate.getMinutes()).slice(-2);
               // var s = ("0" + createdDate.getSeconds()).slice(-2);

               // var dt_Created = $.datepicker.formatDate('dd/mm/yy', createdDate) + " " + h + ":" + m + ":" + s;

               //var lastPasswordChangeDate = new Date(parseInt(aData.LastPasswordChangedDate.replace("/Date(", "").replace(")/", ""), 10));
               //var createdDate = new Date(parseInt(aData.CreatedDate.replace("/Date(", "").replace(")/", ""), 10));
               //var formatedCreatedDate = $.datepicker.formatDate('dd/mm/yy', createdDate);


               //var formatedlastPasswordChangeDate = $.datepicker.formatDate('dd/mm/yy', lastPasswordChangeDate);

               //$('td:eq(5)', nRow).html(formatedlastPasswordChangeDate);
               //$('td:eq(6)', nRow).html(formatedCreatedDate);

               var editUrl = '<a  href="/security/edituser/' + aData.UserId + '">' + 'Edit</a>';

               $('td:eq(8)', nRow).html(editUrl);

               /* return*/
                return nRow;
            },
            // Display settings
            "iDisplayLength": 10,
            "bJQueryUI": true,
            "aoColumns": [

                { "mDataProp": "FirstName", "sTitle": "First Name" },
                { "mDataProp": "LastName", "sTitle": "Last Name" },
                { "mDataProp": "Email", "sTitle": "Email" },
                { "mDataProp": "PhoneNumber", "sTitle": "Mobile Number" },
                { "mDataProp": "UserName", "sTitle": "Username" },
                { "mDataProp": "LastPasswordChangeDate", "sTitle": "Last Password Change Date" },
                { "mDataProp": "CreatedDate", "sTitle": "Created Date" }
                //{ "mDataProp": "Commands", "sTitle": "Actions", "bSortable": false }
                ],


            "aaSorting": [[0, 'desc']]
        });

        });

    </script>
}


